<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.managementplatform.mapper.ActivityAppraisalMapper">
  <resultMap id="BaseResultMap" type="team.managementplatform.pojo.ActivityAppraisal">
    <id column="appraisal_id" jdbcType="INTEGER" property="appraisalId" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="appraisal_time" jdbcType="TIMESTAMP" property="appraisalTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="team.managementplatform.pojo.ActivityAppraisal">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    appraisal_id, activity_id, user_id, appraisal_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="team.managementplatform.pojo.ActivityAppraisalExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity_appraisal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="team.managementplatform.pojo.ActivityAppraisalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_appraisal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity_appraisal
    where appraisal_id = #{appraisalId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity_appraisal
    where appraisal_id = #{appraisalId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="team.managementplatform.pojo.ActivityAppraisalExample">
    delete from activity_appraisal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.managementplatform.pojo.ActivityAppraisal">
    insert into activity_appraisal (appraisal_id, activity_id, user_id, 
      appraisal_time, content)
    values (#{appraisalId,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{appraisalTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.managementplatform.pojo.ActivityAppraisal">
    insert into activity_appraisal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appraisalId != null">
        appraisal_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="appraisalTime != null">
        appraisal_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appraisalId != null">
        #{appraisalId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="appraisalTime != null">
        #{appraisalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.managementplatform.pojo.ActivityAppraisalExample" resultType="java.lang.Long">
    select count(*) from activity_appraisal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update activity_appraisal
    <set>
      <if test="record.appraisalId != null">
        appraisal_id = #{record.appraisalId,jdbcType=INTEGER},
      </if>
      <if test="record.activityId != null">
        activity_id = #{record.activityId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.appraisalTime != null">
        appraisal_time = #{record.appraisalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update activity_appraisal
    set appraisal_id = #{record.appraisalId,jdbcType=INTEGER},
      activity_id = #{record.activityId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      appraisal_time = #{record.appraisalTime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update activity_appraisal
    set appraisal_id = #{record.appraisalId,jdbcType=INTEGER},
      activity_id = #{record.activityId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      appraisal_time = #{record.appraisalTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.managementplatform.pojo.ActivityAppraisal">
    update activity_appraisal
    <set>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="appraisalTime != null">
        appraisal_time = #{appraisalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where appraisal_id = #{appraisalId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="team.managementplatform.pojo.ActivityAppraisal">
    update activity_appraisal
    set activity_id = #{activityId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      appraisal_time = #{appraisalTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where appraisal_id = #{appraisalId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.managementplatform.pojo.ActivityAppraisal">
    update activity_appraisal
    set activity_id = #{activityId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      appraisal_time = #{appraisalTime,jdbcType=TIMESTAMP}
    where appraisal_id = #{appraisalId,jdbcType=INTEGER}
  </update>
</mapper>