<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.managementplatform.mapper.QualificationMapper">
  <resultMap id="BaseResultMap" type="team.managementplatform.pojo.Qualification">
    <id column="qualification_id" jdbcType="INTEGER" property="qualificationId" />
    <result column="institution_id" jdbcType="INTEGER" property="institutionId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    qualification_id, institution_id, path
  </sql>
  <select id="selectByExample" parameterType="team.managementplatform.pojo.QualificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qualification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qualification
    where qualification_id = #{qualificationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qualification
    where qualification_id = #{qualificationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="team.managementplatform.pojo.QualificationExample">
    delete from qualification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.managementplatform.pojo.Qualification">
    insert into qualification (qualification_id, institution_id, path
      )
    values (#{qualificationId,jdbcType=INTEGER}, #{institutionId,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="team.managementplatform.pojo.Qualification">
    insert into qualification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qualificationId != null">
        qualification_id,
      </if>
      <if test="institutionId != null">
        institution_id,
      </if>
      <if test="path != null">
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qualificationId != null">
        #{qualificationId,jdbcType=INTEGER},
      </if>
      <if test="institutionId != null">
        #{institutionId,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.managementplatform.pojo.QualificationExample" resultType="java.lang.Long">
    select count(*) from qualification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update qualification
    <set>
      <if test="record.qualificationId != null">
        qualification_id = #{record.qualificationId,jdbcType=INTEGER},
      </if>
      <if test="record.institutionId != null">
        institution_id = #{record.institutionId,jdbcType=INTEGER},
      </if>
      <if test="record.path != null">
        path = #{record.path,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update qualification
    set qualification_id = #{record.qualificationId,jdbcType=INTEGER},
      institution_id = #{record.institutionId,jdbcType=INTEGER},
      path = #{record.path,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.managementplatform.pojo.Qualification">
    update qualification
    <set>
      <if test="institutionId != null">
        institution_id = #{institutionId,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where qualification_id = #{qualificationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.managementplatform.pojo.Qualification">
    update qualification
    set institution_id = #{institutionId,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR}
    where qualification_id = #{qualificationId,jdbcType=INTEGER}
  </update>
</mapper>